@use 'rs';

/* Contact CSS */

.form-control {
    transition: var(--Animation-Duration);
    border-radius: 6px;
    background: var(--White);
    height: 52px;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: 12px 20px;
    color: #132B49;

    &:focus {
        box-shadow: none;
        border-color: var(--Border);
    }

    &::placeholder {
        color: #132B49;
    }
}

.form-select {
    transition: var(--Animation-Duration);
    border-radius: 6px;
    background: var(--White);
    height: 52px;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: 0 1.25rem;
    color: #132B49;
    cursor: pointer;

    &:focus {
        box-shadow: none;
        border-color: var(--Border);
    }
}

textarea {
    &.form-control {
        min-height: 10rem;
    }
}

.contact-info-wrapper {
    background-color: var(--Secondary);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @media #{rs.$bp-sm} {
        padding: 40px;
    }

    @media #{rs.$bp-md} {
        padding: 50px;
    }

    @media #{rs.$bp-lg} {
        flex-direction: row;
        gap: 20px;
    }

    @media #{rs.$bp-xl} {
        padding: 60px;
        gap: 40px;
    }
}

.contact-sm-card {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon {
        width: 84px;
        height: 84px;
        flex-shrink: 0;
        background-color: var(--Heading);
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        flex-shrink: 0;
    }

    p {
        margin-bottom: 0.5rem;
        font-size: 14px;

        @media #{rs.$bp-xl} {
            font-size: 18px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.contact-form {
    .form-control {
        background-color: var(--White);
        border: 0;
    }
}

.maps-section {
    transform: translateY(6px);

    iframe {
        width: 100%;
        height: 400px;
        filter: grayscale(0.5);

        @media #{rs.$bp-md} {
            height: 500px;
        }

        @media #{rs.$bp-xl} {
            height: 600px;
        }

        @media #{rs.$bp-xxl} {
            height: 700px;
        }
    }
}

.footer-contact-section {
    position: relative;
    z-index: 100;
    background-color: var(--Secondary);
    border-radius: 20px;
    transform: translateY(-60px);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    @media #{rs.$bp-sm} {
        transform: translateY(-70px);
    }

    @media #{rs.$bp-md} {
        transform: translateY(-80px);
    }

    @media #{rs.$bp-lg} {
        transform: translateY(-95px);
    }

    @media #{rs.$bp-xl} {
        transform: translateY(-110px);
    }

    @media #{rs.$bp-xxl} {
        transform: translateY(-130px);
    }

    .footer-contact-form {
        flex: 0 0 100%;
        width: 100%;
        padding: 40px;
        border-radius: 20px 0 0 20px;

        @media #{rs.$bp-md} {
            flex: 0 0 55%;
            width: 55%;
        }

        @media #{rs.$bp-lg} {
            padding: 60px;
        }

        @media #{rs.$bp-xl} {
            padding: 80px;
        }

        .form-control {
            background-color: transparent;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid var(--Border);
            padding-left: 0;

            &:focus {
                border-bottom-color: #132B49;
            }
        }
    }

    .footer-contact-maps {
        flex: 0 0 100%;
        width: 100%;
        border-radius: 0 20px 20px 0;
        height: 300px;

        @media #{rs.$bp-md} {
            flex: 0 0 45%;
            width: 45%;
            height: auto;
        }

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 0 0 20px 20px;

            @media #{rs.$bp-md} {
                border-radius: 0 20px 20px 0;
            }
        }
    }
}