@use 'rs';

/* CTA CSS */

.cta-section {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .shape {
        position: absolute;
        top: -2px;
        right: -2px;
        z-index: -1;
        opacity: 0.1;
        max-width: 500px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .cta-content {
        border-radius: 20px;
        background: var(--Primary);
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;

        @media #{rs.$bp-lg} {
            flex-wrap: nowrap;
            padding: 50px;
        }

        @media #{rs.$bp-xl} {
            padding: 80px 90px;
            gap: 100px;
        }

        @media #{rs.$bp-xxl} {
            padding: 100px 110px;
            gap: 200px;
        }

        h2 {
            font-weight: 600;
            font-size: clamp(36px, 5vw, 60px);
        }

        a {
            flex-shrink: 0;
        }
    }
}

.cta-content {
    hr {
        background-color: rgba(255, 255, 255, 0.30);
        margin-top: 100px;
    }
}

.cool-facts {
    text-align: center;
    background-color: var(--Primary);
    padding: 3rem 1rem;
    height: 100%;

    @media #{rs.$bp-xl} {
        padding: 4rem 1rem;
    }

    h2 {
        font-size: clamp(36px, 4vw, 50px);
        margin-bottom: 1rem;
        line-height: 1;
        color: var(--White);
    }

    p {
        color: var(--White);

        @media #{rs.$bp-xl} {
            font-size: 18px;
        }
    }
}