@use 'rs';

/* FAQ CSS */

.faq-accordion {
   .accordion {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .accordion-item {
      position: relative;
      border-radius: 10px;
      background: var(--Secondary);
      border: 0;

      &:first-of-type .accordion-button {
         border-top-left-radius: 10px !important;
         border-top-right-radius: 10px !important;
      }

      &:last-of-type .accordion-button {
         border-bottom-left-radius: 10px !important;
         border-bottom-right-radius: 10px !important;
      }

      .accordion-button {
         border-radius: 10px;
         background: var(--Secondary);
         color: var(--Heading);
         font-size: 18px;
         font-weight: 600;
         padding: 16px 30px;

         @media #{rs.$bp-xl} {
            font-size: 20px;
         }

         &:focus {
            box-shadow: none !important;
         }

         &::after {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-position: center;
            background-color: var(--Heading);
            color: var(--White);
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevron-down%22%3E%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3Cpath%20d%3D%22M6%209l6%206l6%20-6%22/%3E%3C/svg%3E");
         }

         &:not(.collapsed) {
            box-shadow: none;
            color: var(--Heading);
            background-color: var(--Primary);
            border-radius: 10px 10px 0 0 !important;

            &::after {
               transform: rotate(180deg);
            }
         }
      }

      .accordion-body {
         background-color: var(--Secondary);
         padding: 20px 30px;
         color: var(--Text);
         font-size: 16px;
         border-radius: 0 0 10px 10px;
      }
   }

   &.style-two {
      .accordion-item {
         background: transparent;
         border-radius: 10px;

         .accordion-button {
            background-color: var(--White);
            border-radius: 10px;

            &::after {
               color: var(--Heading);
               background-color: transparent;
               background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-plus%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%205l0%2014%22%20/%3E%3Cpath%20d=%22M5%2012l14%200%22%20/%3E%3C/svg%3E");
            }

            &:not(.collapsed) {
               color: var(--Heading);
               background-color: var(--Primary);
               border-radius: 10px 10px 0 0;

               &::after {
                  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-minus%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M5%2012l14%200%22%20/%3E%3C/svg%3E");
               }
            }
         }

         .accordion-body {
            background-color: var(--White);
            color: var(--Text);
            border-radius: 0 0 10px 10px;
         }
      }
   }

   &.style-three {
      .accordion-item {
         background: transparent;
         border-radius: 10px;

         .accordion-button {
            background-color: var(--Secondary);
            border-radius: 10px;

            &::after {
               color: var(--Heading);
               background-color: transparent;
               background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-plus%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%205l0%2014%22%20/%3E%3Cpath%20d=%22M5%2012l14%200%22%20/%3E%3C/svg%3E");
            }

            &:not(.collapsed) {
               color: var(--Heading);
               background-color: var(--Primary);
               border-radius: 10px 10px 0 0;

               &::after {
                  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-minus%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M5%2012l14%200%22%20/%3E%3C/svg%3E");
               }
            }
         }

         .accordion-body {
            background-color: var(--Secondary);
            color: var(--Text);
            border-radius: 0 0 10px 10px;
         }
      }
   }
}

.faq-question-section {
   background-position: center center;
   background-repeat: no-repeat;
}

.faq-section {
   &.style-two {
      background-repeat: repeat;
   }
}

.faq-img {
   border-radius: 20px;

   img {
      border-radius: 20px;
   }
}