@use 'rs';

/* Pricing CSS */

.pricing-section {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .shape {
        position: absolute;
        top: -2px;
        right: -2px;
        max-width: 500px;
        z-index: -1;
        opacity: 0.1;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.price-banner-card {
    position: relative;
    z-index: 1;
    padding: 40px 36px 0 36px;
    border-radius: 20px;
    background-color: #212529;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 20px;
    }

    p {
        color: var(--Secondary);
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -310px;
        left: 50%;
        width: 500px;
        height: 500px;
        background-color: var(--Primary);
        border-radius: 50%;
        transform: translateX(-50%);
        z-index: -10;

        @media #{rs.$bp-sm} {
            width: 600px;
            height: 600px;
        }

        @media #{rs.$bp-md} {
            width: 450px;
            height: 450px;
        }

        @media #{rs.$bp-lg} {
            bottom: -210px;
        }
    }
}

.price-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 26px;
    border-radius: 18px;
    background-color: var(--White);
    flex-wrap: wrap;

    @media #{rs.$bp-lg} {
        flex-wrap: nowrap;
        gap: 60px;
    }

    @media #{rs.$bp-xl} {
        gap: 100px;
        padding: 38px 36px;
    }

    @media #{rs.$bp-xxl} {
        gap: 140px;
    }

    .pricing-value {
        transition: all 0.4s ease;
        flex-shrink: 0;
    }

    .price-display {
        transition: opacity 0.4s ease;

        &.fade-out {
            opacity: 0;
        }

        &.fade-in {
            opacity: 1;
        }

        .price-amount {
            font-size: clamp(36px, 4vw, 48px);
        }

        .price-type {
            font-size: clamp(16px, 2vw, 18px);
            color: #132B49;
        }
    }
}

.pricing-plan-switching {
    display: flex;
    border-radius: 6px;
    background: var(--White);
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 222px;
    height: 54px;

    .btn {
        padding: 0;
        border: 0;
        height: 54px;
        width: 110px;
        border-radius: 6px;
        color: var(--Heading);

        &.active {
            background: var(--Primary);
            color: var(--Heading);
            pointer-events: none;
        }
    }
}

.price-banner {
    order: 5;

    @media #{rs.$bp-md} {
        order: 0;
    }
}

.price-table-cards {
    order: 0;

    @media #{rs.$bp-md} {
        order: 5;
    }
}