@use 'rs';

/* Reboot CSS */

* {
    margin: 0;
    padding: 0;
}

:root {
    --Animation-Duration: all 0.35s ease;
    --Font-Primary: "Sora", sans-serif;
    --Font-Tabler: "tabler-icons";
    --Primary: #BDE162;
    --Primary-Hover: #708738;
    --Secondary: #F5F2F0;
    --Secondary-Hover: #ebe8e7;
    --Secondary-Two: rgba(189, 225, 98, 0.30);
    --Heading: #052E26;
    --Text: #132B49;
    --Background: #052E26;
    --Border: rgba(19, 43, 73, 0.30);
    --White: #FFFFFF;
    --Success: #3CB371;
    --Success-Hover: #34885a;
    --Warning: #F7921F;
    --Warning-Hover: #be7016;
    --Info: #02A5CE;
    --Info-Hover: #156e85;
    --Danger: #DC3545;
    --Danger-Hover: #9c1321;
}

body,
html {
    font-family: var(--Font-Primary);
    color: var(--Text);
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0 !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--Heading);
    font-weight: 600;
    line-height: 1.2;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    letter-spacing: -1.4px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    letter-spacing: -0.4px;
}

h4 {
    font-size: clamp(20px, 2vw, 24px);
}

h5 {
    font-size: clamp(18px, 2vw, 20px);
}

p {
    font-size: 16px;
    line-height: 1.65;
    color: var(--Text);
}

a {
    transition: var(--Animation-Duration);
    text-decoration: none;
    outline: 0 solid transparent;
    color: var(--Heading);
    font-weight: 600;

    &:hover,
    &:focus {
        outline: 0 solid transparent;
        text-decoration: none;
        color: var(--Heading);
        font-weight: 600;
    }
}

ul,
ol {
    margin-bottom: 0;

    li {
        line-height: 1.75;
    }
}

.border,
.border-end,
.border-start,
.border-top,
.border-bottom {
    border-color: var(--Border) !important;
}

img {
    max-width: 100%;
    height: auto;
}

input:required,
textarea:required,
input:invalid,
textarea:invalid {
    box-shadow: none !important;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

// Container

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 320px;
}

@media (min-width:400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 360px;
    }
}

@media (min-width:480px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 420px;
    }
}

@media (min-width:576px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 540px;
    }
}

@media (min-width:768px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 720px;
    }
}

@media (min-width:992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 960px;
    }
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

.custom-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:480px) {

    .custom-container {
        width: 420px;
    }
}

@media (min-width:576px) {

    .custom-container {
        width: 540px;
    }
}

@media (min-width:768px) {

    .custom-container {
        width: 720px;
    }
}

@media (min-width:992px) {

    .custom-container {
        width: 960px;
    }
}

@media (min-width:1200px) {

    .custom-container {
        width: 1140px;
    }
}

@media (min-width:1400px) {

    .custom-container {
        width: 1320px;
    }
}