// Xtra Large Breakpoint
$bp-xxl: 'only screen and (min-width:1400px)';

// Xtra Large Breakpoint
$bp-xl: 'only screen and (min-width:1200px)';

// Large Breakpoint
$bp-lg: 'only screen and (min-width:992px)';

// Medium Breakpoint
$bp-md: 'only screen and (min-width:768px)';

// Small Breakpoint
$bp-sm: 'only screen and (min-width:576px)';

// Xtra Small Landscape Breakpoint
$bp-xs: 'only screen and (min-width:480px)';